*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.hprof
.DS_Store
Thumbs.db
/build
/captures
.externalNativeBuild
.cxx
local.properties
.cxx/
*.apk
*.ap_
*.aab